SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=923016636557
NEXT_PUBLIC_GOOGLE_PROFILE_URL=https://share.google/jRINLyBqArGppOdzX
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=re_fzdKEovA_5p63PgNjvipmhFm6gTFcSh2X
INQUIRY_NOTIFY_TO=info@artisancookware.co
INQUIRY_NOTIFY_FROM="Artisan Cookware <no-reply@artisancookware.co>"
